name: Publish Crate
on:
  push:
    branches:
      - main
    paths:
      - 'crates/nodejs-resolver/Cargo.toml'

jobs:
  publish:
    name: Publish to crate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v1
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          path: './crates/nodejs-resolver'